.page {
    @include for-mobile() {
        padding-bottom: 60px;
    }

    @include for-desktop() {
        padding-bottom: 0;
    }
}

#header {
    position: relative;
    text-align: center;
    background-image: url('../img/hero-mobile.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
    z-index: 1;

    @include for-desktop {
        background-image: url('../img/hero-desktop.jpg');
        background-position: center;
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .typography {
        color: white;
    }

    .hero-head {
        color: white;
        background: linear-gradient(to bottom,
            rgba(0, 0, 0, .9) 0%,
            rgba(0, 0, 0, 0) 100%
        );

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 1rem;

            @mixin for-desktop() {
                max-width: 1024px;
                padding: 1rem 2rem;
            }
        }

        img {
            max-width: 172px;
        }

        .phone {
            font-size: 13px;
            color: inherit;

            &:hover {
                background-color: rgba(255, 255, 255, .1);
            }
        }

        .whatsapp-button {
            display: none;
        }

        @include for-desktop() {
            img {
                max-width: 220px;
            }

            .phone {
                font-size: 16px;
            }

            .whatsapp-button {
                display: inline-block;
                text-transform: none;
            }
        }
    }

    .hero-body {
        padding: 1rem;

        .title {
            font-weight: normal;
            font-size: 0.9rem;
            margin-bottom: 1rem;
            margin-top: 12rem;
            text-transform: uppercase;
        }

        .subtitle {
            font-size: 2rem;
            line-height: 1.1;
            margin: 0;
        }

        @include for-desktop() {
            .title {
                font-size: 1.8rem;
                margin-top: 18rem;
                margin-bottom: 2rem;
            }

            .subtitle {
                font-size: 2.8rem;
            }
        }
    }

    .hero-foot {
        margin-top: auto;
        width: 100%;
        padding: 1rem 1rem 2rem;
        background: linear-gradient(to top,
            rgba(0, 0, 0, .7) 0%,
            rgba(0, 0, 0, 0) 100%
        );

        .typography {
            font-size: 1.2rem;

            span {
                font-weight: bold;
                padding: 0 .25em .2em;
                border-radius: 5px;
                background-color: rgba(108, 22, 123, .6);
            }
        }

        @include for-desktop() {
            padding: 1rem 1rem 2rem;

            .typography {
                font-size: 2rem;
            }
        }
    }
}

#signup {

}

#lesson {
    background-color: #ede9fb;

    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 720px;
        margin: auto;
    }

    .title {
        width: 100%;
    }

    .background-image {
        display: flex;
        width: 100%;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        background-image: url('../img/lesson.jpg');
        background-repeat: no-repeat;

        @include for-mobile {
            height: 226px;
        }

        @include for-tablet {
            height: 300px;
        }


        @include for-desktop {
            height: 365px;
        }
    }

    @include for-mobile() {
        .title {
            text-align: center;
            order: 1;
        }

        .background-image {
            margin-bottom: 2rem;
        }

        .media-list {
            order: 2;
        }
    }

    @include for-tablet {
        .title {
            text-align: center;
        }
    }
}

#details {
    .media-list {
        .media {
            justify-content: center;
            align-items: center;

            .media-left {
                .checkmark {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

#gallery {
    background-color: #ede1e1;
    background-image: url('../img/pattern.png');
    background-size: 256px;

    .carousel {
        max-width: 640px;
        margin: auto;

        @include for-mobile() {
            margin-left: -1rem;
            margin-right: -1rem;
        }

        .slick-slide {
            text-align: center;

            img {
                display: inline-block;
            }
        }
    }
}

#video {
    padding-bottom: 0;

    .video {
        position: relative;
        display: block;
        margin-top: 2rem;
        margin-left: -1rem;
        margin-right: -1rem;
        padding: 0;
        overflow: hidden;

        @media (min-width: $desktop-size) {
            max-width: 720px;
            margin-left: auto;
            margin-right: auto;
        }

        &:before {
            content: "";
            display: block;
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
}

#contacts {
    .subtitle {
        margin-bottom: 2rem;
    }

    .media-list {
        max-width: 425px;
        margin-top: 0;

        .media {
            .icon {
                .fa {
                    font-size: 2rem;
                }

                svg {
                    width: 32px;

                    path {
                        fill: dodgerblue;
                    }
                }
            }
        }
    }
}

#lesson {
    .info-block:last-of-type {
        margin-bottom: 0;
    }
}

#form {
    background-color: #ede1e1;

    .title {
        margin-bottom: 1rem;
    }

    form {
        max-width: 400px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    label.checkbox {
        font-size: .8rem;
    }
}

#footer {
    background-color: #343434;
    color: white;
    text-align: center;

    .title {
        color: white;
        font-weight: normal;
    }

    .button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

.call-to-action.call-to-action--fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: initial;
    z-index: 100;
    box-shadow: 0 0px 6px 4px rgba(0,0,0,.2);
    border-radius: 0;

    @media (min-width: $desktop-size) {
        display: none;
    }
}